
<div class="row">
    <div class="col-md-6">
        <p>quote works!</p>
        <div *ngFor="let quote of quotes: let i=index">
            <h1>{{quote.name}}</h1>
            <p>{{quote.quoteTitle}}</p>
            <a (click) ="showMore(i)"class= " btn btn-btn sm btn block btn-danger">Show Details</a>
            <app-detail-quote [quote]="quote" *ngIf="quote.showDetails"[quote]="quote"(deleteQuote)="deleteThisQuote(event,i)"></app-detail-quote>
        </div>
    </div>
   
    <div *ngIf="quotes.length<1" class="alert alert-warning"> can't find quote

    </div>
</div>
    
