<div class="container">

    <header>
        <div class="card-header">
        <h1 class="text-center font-weight-bold text-uppercase "><span class="btn-outline-danger text-white">Life With Quotes</span></h1>
        </div>
    </header>
       
    <div class="row">
        <div class="col-md-6">
            <div *ngFor="let quote of quotes; let i=index">
                <div class="jumbotron">
                    <h1>{{quote.name}}</h1>
                    <p>{{quote.quoteTitle}}</p>
                    <button (click)="showMore(i)" class=" btn btn-btn sm btn block btn-danger" id="two">Show
                        Details</button>
                    <app-detail-quote [quote]="quote" *ngIf="quote.showDetails" [quote]="quote"
                        (deleteQuote)="deleteThisQuote(event,i)"></app-detail-quote>
                    <br>

                    <button  class="btn btn-outline-success" (click)='upvote(i)' >upvote {{ quote.upvote}}</button>
                    <button class="btn btn-outline-primary" (click)='downvote(i)' >Downvote {{quote.downvote}}</button>
                    <!-- <button class="btn btn-outline-danger" (click)='deleteQuote($event,i)'>Delete</button> -->


                </div>
            </div>
        </div>


        <div class="col-md-6">
            <app-form (addQuote)="addNewQuote($event)"></app-form>
        </div>

    </div>
</div>